#sign_in {
	margin: 20px auto;
	width: 300px;
}

#sign_in input {
	margin: 1px 0px auto 0px;
	padding-right: 5px;
	padding-left: 5px;
	border: none;
	border-radius: 5px;
	width: 290px;
	height: 32px;
	background-color: #edddf0;
}

#sign_in input[type="submit"], #sign_in input[type="reset"] {
	width: 300px;
	color: #793251;
	background-color: #edddf0;
}
